<section class="galleryModuleType1">
	<h3 class="titleType1">Picture gallery</h3>
	<ul class="cf">
		{% for i in 1..12 %}
		<li><a class="zoomImage" href="{{ asset('bundles/app/images/gallery/galleryLarge' ~ i ~ '.jpg') }}"><img src="{{ asset('bundles/app/images/gallery/gallerySmall' ~ i ~ '.jpg') }}" alt="Image 1" /></a></li>
		{% endfor %}
	</ul>
	<a href="#" class="btnType1"><span>view more</span></a>
</section>
