<section class="listModuleType2">
	<h3 class="titleType1">Featured articles</h3>
	<ul>
		{% for i in 1..4 %}
		<li>
			<a href="{{ path('detail') }}" class="articleType3">
				<div class="imageCont">
					<img src="{{ asset('bundles/app/images/gallery/gallerySmall3.jpg') }}" alt="">
				</div>
				<h3 class="title">Lorem ipsum dolor sit amet, consectetur</h3>
				<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur libero, accusamus magnam eius pariatur.</p>
			</a>
		</li>
		{% endfor %}
	</ul>
	<a href="#" class="btnType1"><span>view more</span></a>
</section>
