<nav class="mainNav">
	<button type="button" class="toggleBtn iconMenu nBtn icr">Toggle nav</button>
	<div class="fitWrap cf">
		<ul>
			<li><a class="selected" href="#">Homepage</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Work</a></li>
			<li><a href="#">Journal</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<a href="#" class="signIn iconUser">Sign in</a>
	</div>
</nav>
