<header class="mainHeader">
	<div class="fitWrap">
		<a href="{{ path('homepage') }}" title="Go to homepage" class="logo iconOctopus icr">I'm neked!</a>
		{{ render(controller('AppBundle:Default:mainSearch')) }}
	</div>
	{{ render(controller('AppBundle:Default:mainNav')) }}
</header>
