<form class="mainSearch" action="quick-search">
	<input autocomplete="off" class="query" type="text" placeholder="Search for a perfect query" name="query" />
	<button class="btnSubmit iconSearch icr nBtn" type="submit">Click me hard</button>
</form>
