html,
body { min-height: 100%; }

html {

	font-size: 62.5%; background: #F4F4F4; @include fontSansNormal;

}

body {

	font-size: 1em; min-width: 32em; position: relative;

}

.fitWrap {

	max-width: 120em; margin: 0 auto; position: relative; box-sizing: border-box;

}

.cf { @include clearfix; }
.nBtn { @include normalizeButton; }
.icr { @include iconReplacement(40); }
.btnType1 { @include btnType1(); }

.mainContentArea {

	$gutter: 30; $sidebarSize: 300;

	padding: em($gutter,10);

	> .mainCol {

		float: left; width: 100%; padding-right: em($gutter + $sidebarSize,10); box-sizing: border-box;

	}

	> .sideCol {

		float: left; width: em($sidebarSize,10); margin-left: em(-1*$sidebarSize,10);

	}

}
