.mainHeader {

	position: relative;
	background-color: $colorMain1;

	> .fitWrap { height: 12em; }

	&:before {

		content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
		background: $colorMain1 url(asset('images/headerback.jpg')); opacity: 0.1;
		background-size: cover;

	}

	.logo {

		position: absolute; left: 0; top: 0; bottom: 0; width: 16em; height: auto;
		@include transition(margin-top 0.2s);
		&:before { color: #fff; font-size: 8em; width: 1em; margin-left: -0.5em; }


		&:hover { margin-top: -0.5em; }

	}

}
